body {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	background-image: radial-gradient(
		circle,
		#bebebe,
		#bebebe,
		#bebebe,
		#bdbdbd,
		#bdbdbd,
		#b5b5b5,
		#aeaeae,
		#a6a6a6,
		#969696,
		#868686,
		#767676,
		#676767
	);
}

.wrapper {
	min-height: 100vh;
	padding: 3rem 5rem 0rem 5rem;
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	color: rgba(255, 255, 255, 0.85);
	flex-wrap: wrap;
	gap: 5rem;
}

.title {
	font-size: 2rem;
	letter-spacing: 0.1rem;
}

.span {
	font-size: 1.7rem;
	letter-spacing: -0.1rem;
	padding-bottom: 3rem;
}

a {
	all: unset;
	cursor: pointer;
}

.profilePic {
	width: 15rem;
	border-radius: 50rem;
	border-top: 0.3rem solid rgba(255, 255, 255, 0.85);
	border-bottom: 0.3rem solid rgba(255, 255, 255, 0.85);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
	transition: all 0.3s;
}

.profilePic:hover {
	transform: scale(1.1);
	border-top: 0.3rem solid rgba(153, 219, 250, 0.85);
	border-bottom: 0.3rem solid rgba(153, 219, 250, 0.85);
}

.buttonControl {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1.3rem;
	padding: 1rem;
	border-radius: 50rem;
	border: 0.4rem solid rgba(255, 255, 255, 0.85);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	position: fixed;
	bottom: 1rem;
	left: 1rem;
}

.arrowIcon {
	font-size: 3rem;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.85);
	-webkit-animation: slide-bottom 1.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s
		infinite alternate both;
	animation: slide-bottom 1.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s infinite
		alternate both;
	margin-bottom: 10rem;
}

.jobsArea {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgba(255, 255, 255, 0.85);
}

.heading {
	text-align: center;
}

.heading__title {
	font-weight: 600;
}

.heading__credits {
	margin: 10px 0px;
	color: #888888;
	font-size: 25px;
	transition: all 0.5s;
}

.heading__link {
	text-decoration: none;
}

.heading__credits .heading__link {
	color: inherit;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: -1;
}

.card {
	margin: 20px;
	padding: 1rem;
	width: 500px;
	min-height: 200px;
	border-radius: 10px;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
	transition: all 0.2s;
	z-index: 0;
}

.card:hover {
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(153, 219, 250, 0.85);
	transform: scale(1.01);
}

.card__link {
	position: relative;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.9);
	left: 40%;
}

.card__link::after {
	position: absolute;
	top: 25px;
	left: 0;
	content: '';
	width: 0%;
	height: 3px;
	background-color: rgba(255, 255, 255, 0.6);
	transition: all 0.5s;
}

.card__link:hover::after {
	width: 100%;
}

.card__title {
	font-weight: 400;
	color: #ffffff;
}

.card__apply {
	align-self: center;
}

/* CARD BACKGROUNDS */

.card-1 {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.techs {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

.tech-list {
	list-style-type: none;
	display: flex;
	gap: 1rem;
	align-items: center;
}

/* RESPONSIVE */

@media (max-width: 1600px) {
	.cards {
		justify-content: center;
	}
}

@media only screen and (max-width: 600px) {
	.wrapper {
		text-align: center;
		gap: 1rem;
		padding: 3rem 1rem 0rem 1rem;
	}
	.textArea {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 100vw;
		gap: 1.3rem;
	}

	.card {
		width: 90%;
	}

	.buttonControl {
		width: 7rem;
		gap: 0.5rem;
		padding: 0.3rem;
		border: none;
		box-shadow: none;
		left: 0.2rem;
	}
}

@-webkit-keyframes slide-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(3rem);
		transform: translateY(3rem);
	}
}
@keyframes slide-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(3rem);
		transform: translateY(3rem);
	}
}
