body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	max-width: 100vw;
	width: 100vw;
	background-image: radial-gradient(
		circle,
		#bebebe,
		#bebebe,
		#bebebe,
		#bdbdbd,
		#bdbdbd,
		#b5b5b5,
		#aeaeae,
		#a6a6a6,
		#969696,
		#868686,
		#767676,
		#676767
	);
}

.wrapper {
	padding: 10rem 5rem 0rem 5rem;
	min-width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	color: rgba(255, 255, 255, 0.85);
}

.title {
	font-size: 2.3rem;
	letter-spacing: 0.3rem;
}

.span {
	font-size: 2rem;
	letter-spacing: -0.1rem;
	padding-bottom: 3rem;
}

a {
	all: unset;
	cursor: pointer;
}

.profilePic {
	width: 15rem;
	align-self: end;
	border-radius: 50rem;
	border-top: 0.3rem solid rgba(255, 255, 255, 0.85);
	border-bottom: 0.3rem solid rgba(255, 255, 255, 0.85);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
	transition: all 0.3s;
}

.profilePic:hover {
	transform: scale(1.1);
}

.buttonControl {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1.3rem;
	padding-bottom: 10rem;
	margin-top: 5rem;
}

.arrowIcon {
	width: 100%;
	font-size: 3rem;
	position: sticky;
	cursor: pointer;
	-webkit-animation: slide-bottom 1.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s
		infinite alternate both;
	animation: slide-bottom 1.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s infinite
		alternate both;
}

@-webkit-keyframes slide-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(100px);
		transform: translateY(100px);
	}
}
@keyframes slide-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(100px);
		transform: translateY(100px);
	}
}
