.wrapper {
	padding: 1.5rem 0.5rem;
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	color: rgba(255, 255, 255, 0.85);
	flex-wrap: wrap;
	gap: 5rem;
}

.title {
	text-align: center;
	font-size: 2rem;
	letter-spacing: 0.1rem;
}

.emoji {
	transform: rotate(90deg);
}

.subtitle {
	font-size: 1.7rem;
	letter-spacing: -0.1rem;
	text-align: center;
	margin-bottom: 1.9rem;
}

a {
	all: unset;
	cursor: pointer;
}

.profilePic {
	width: 15rem;
	border-radius: 50rem;
	border-top: 0.3rem solid rgba(255, 255, 255, 0.85);
	border-bottom: 0.3rem solid rgba(255, 255, 255, 0.85);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
	transition: all 0.3s;
}

.profilePic:hover {
	transform: scale(1.1);
	border-top: 0.3rem solid rgba(153, 219, 250, 0.85);
	border-bottom: 0.3rem solid rgba(153, 219, 250, 0.85);
}

.buttonControl {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5rem;
	padding: 1rem;
	position: fixed;
	bottom: 3rem;
	left: 0;
}

.arrowIcon {
	font-size: 3rem;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.85);
	-webkit-animation: slide-bottom 1.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s
		infinite alternate both;
	animation: slide-bottom 1.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s
		infinite alternate both;
	margin-bottom: 10rem;
}

.jobsArea {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.3rem;
	color: rgba(255, 255, 255, 0.85);
	padding: 1rem 0;
}

.heading {
	text-align: center;
}

.heading__title {
	font-weight: 600;
}

.heading__link {
	text-decoration: none;
}

.heading__credits .heading__link {
	color: inherit;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

.card {
	padding: 1rem;
	min-height: 15rem;
	width: 30rem;
	border-radius: 10rem;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
	transition: all 0.2s;
	z-index: 0;
}

.card:hover {
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(153, 219, 250, 0.85);
	transform: scale(1.01);
}

.card__link {
	position: relative;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.9);
	left: 40%;
}

.card__link::after {
	position: absolute;
	top: 25px;
	left: 0;
	content: '';
	width: 0%;
	height: 3px;
	background-color: rgba(255, 255, 255, 0.6);
	transition: all 0.5s;
}

.card__link:hover::after {
	width: 100%;
}

.card__title {
	font-weight: 400;
	color: #ffffff;
}

.card__apply {
	align-self: center;
}

/* CARD BACKGROUNDS */

.card-1 {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.techs {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1rem;
}

.tech-list {
	list-style-type: none;
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

/* RESPONSIVE */

@media only screen and (max-width: 600px) {
	.wrapper {
		gap: 0;
	}
	.buttonControl {
		bottom: 13%;
	}

	.card {
		width: 90vw;
	}
}

@-webkit-keyframes slide-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(3rem);
		transform: translateY(3rem);
	}
}
@keyframes slide-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(3rem);
		transform: translateY(3rem);
	}
}
